*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.apk

\.idea/modules\.xml

\.idea/misc\.xml

app/release/

app/production/release/

app/preprod/release/

app/flavtest/release/

\.idea/caches/build_file_checksums\.ser
