<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.aineuron.eagps"
          xmlns:android="http://schemas.android.com/apk/res/android">
	<application
		android:name=".Appl_"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.LoginActivity_"
			android:screenOrientation="sensorPortrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MainActivityBase_"
			android:screenOrientation="sensorPortrait">
		</activity>
		<activity
			android:name=".activity.MainActivity_"
			android:screenOrientation="sensorPortrait">
		</activity>
		<activity
			android:name=".activity.CarSettingsActivity_"
			android:screenOrientation="sensorPortrait">
		</activity>
		<activity
			android:name=".activity.StateSettingsActivity_"
			android:screenOrientation="sensorPortrait">
		</activity>
		<activity
			android:name=".activity.OfferActivity_"
			android:screenOrientation="sensorPortrait">
		</activity>
	</application>

</manifest>